# **Outliers**

In [1]:
%load_ext autoreload
%autoreload 2

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

import sys
sys.path.append("../")
from src import funciones_outliers as fo

pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_pickle("../datos/dataframes/df_nonulls_encoded.pkl")
print(df.shape)
df.head()

(1545, 34)

,Attrition,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,0,0.135881,0.112033,0.172805,51,0.145852,0.149254,6,2,0.164852,1,0.118644,131160,1.0,11,0,1.0,6,1,0,0,3,3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.135881,0.162630,0.174194,31,0.254296,0.154150,10,1,0.164852,1,0.256619,41890,0.0,23,1,6.0,3,5,1,4,2,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,0.144295,0.162630,0.316753,32,0.254296,0.154150,17,4,0.113687,4,0.118644,193280,1.0,15,3,5.0,2,5,0,3,3,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,0.135371,0.112033,0.138979,38,0.076433,0.154150,2,5,0.164852,3,0.118644,83210,3.0,11,3,13.0,5,8,7,5,2,3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.135371,0.228956,0.138979,32,0.145852,0.154150,10,1,0.161826,1,0.256619,23420,4.0,12,2,9.0,2,6,0,4,3,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [3]:
df.to_pickle("../datos/dataframes/df_nonulls_encoded_outliers.pkl")